.post {
  background-color: var(--gray-600);
  border-radius: 8px;
  padding: 0.750rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 10px solid var(--gray-800);
  outline: 2px solid var(--yellow-green-darker);
  ;
}

.post+.post {
  margin-top: 1.5rem;
}

.postAuthor {
  display: flex;
  align-items: center;
}

.postAuthorInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.600rem;
  gap: 0.300rem;
}

.postAuthorInfo time {
  font-size: 0.750rem;
  color: var(--gray-400);
}

.postAuthorInfo span {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  font-size: 0.875rem;
  margin-left: 0.100rem;
  gap: 0.300rem;
}

.postAuthorNameAndTag {
  display: flex;
  align-items: center;
}

.postAuthorNameAndTag strong {
  margin-right: 0.400rem;
}

.postAuthorNameAndTag span {
  color: var(--gray-400);
}

.RepostQuotePost {
  display: inline-flex;
  align-items: center;
  background: var(--yellow-green-brighter);
  padding: 0 0.375rem;
  border-radius: 8px;
  font-size: 0.875rem;
  margin-left: 0.100rem;
  gap: 0.300rem;
}

span.RepostQuotePost {
  color: var(--gray-100);
}

.postContent {
  background-color: var(--gray-400);
  border-radius: 8px;
  padding: 0.750rem;
  border: 1px solid var(--gray-300);
}

.postReactionBox {
  display: flex;
  gap: 0.875rem;
}

.postReactionBox button {
  color: var(--yellow-green);
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  line-height: 0;
}

.postReactionBox svg:hover {
  color: var(--gray-400);
}

.repostContent {
  width: 85%;
  box-shadow: 2px 3px 7px 0px var(--gray-900);
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 0.750rem;
  display: flex;
  gap: 0.875rem;
  flex-direction: column;
}

.repostContentText {
  background-color: var(--gray-500);
  padding: 0.750rem;
  border-radius: 8px;
}