.avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--yellow-green);
}


.avatarLarge {
  width: 6rem;
  height: 6rem;
}

.avatarMedium {
  width: 4rem;
  height: 4rem;
}

.avatarSmall {
  width: 3rem;
  height: 3rem;
}