* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --gray-100: #e0e0e0;
  --gray-200: #c4c4cc;
  --gray-300: #808080;
  --gray-400: #636363;
  --gray-500: #3c3c3c;
  --gray-600: #303030;
  --gray-800: #242424;
  --gray-900: #121214;

  --yellow-green: #959741;
  --yellow-green-brighter: #81813d;
  --yellow-green-darker: #484827;

  --red-500: #ff2c3e;
}

body {
  background: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  color: var(--gray-200);
}

body,
input,
textarea,
button {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}